<%- include('partials/header') %>

  <div class="container">
    <div class="jumbotron mt-4 py-4">
      <h1 class='display-4'>What's for Dinner?</h1>
      <hr class='my-3'>
      <p>Simplifying the dreaded task of deciding what to eat.</p>
    </div>
    <form action="/calendar" method="POST">
      <h3>Enter the meals you want included</h3>
      <p>You can also choose how many times you want them repeated</p>
      <hr>
      <div class="row">
        <div class="col-9">
          <input class="form-control" type="text" name="meals[0][name]" id="meals[0]">
        </div>
        <div class="col-3">
          <input class="form-control" type="number" name="meals[0][quantity]" value="1">
        </div>
      </div>
      <button class="btn btn-success btn-block mt-3" type="button" name="addInput">Add</button>
      <button class="btn btn-primary btn-block mt-3" type="submit">Go!</button>
    </form>
  </div>

<%- include('partials/footer') %>
