body {
  padding-bottom: 50px;
}

.calendar-card {
  width: 13%;
  margin: auto 0.64%;
  min-height: 10em;
  text-align: center;
}

.account-checkbox {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
}
